.menu_wrapper {
    display: flex;
    padding: 10px;


    .img_logo {
        padding-left: 30px;

        img {
            width: 80px;
        }
    }

    .burger_menu {
        display: none;
    }

    .menuWrap{
       display: none;
   
}
.menuClose{
    .menu_ul {
        display: flex;
        align-items: center;

        a {
            color: #fff;
            text-decoration: none;
            li {
                display: table-cell;
                position: relative;
                list-style: none;
                padding: 10px 20px;

                &:hover:after {
                    width: 100%;
                    left: 0;
                }

                &:after {
                    background: none repeat scroll 0 0 transparent;
                    bottom: 0;
                    content: "";
                    display: block;
                    height: 2px;
                    left: 50%;
                    position: absolute;
                    background: #fff;
                    transition: width 0.3s ease 0s, left 0.3s ease 0s;
                    width: 0;
                }
            }
        }
    }
}

    .changeLang {
        position: absolute;
        right: 0;
        margin-right: 20px;
        z-index: 999;

        .selected {
            cursor: pointer;

            img {
                width: 30px;
            }
        }

        .change_ul {
            z-index: 9999;
            cursor: pointer;
            list-style: none;

            li {
                img {
                    width: 30px;
                }
            }

            .acive {
                display: none;
            }
        }
    }

    .categoriesBlock {
        .mainSelected {
            cursor: pointer;
            width: 130px;
            p {
                display: flex;
                padding: 10px 20px;
                position: relative;
                margin-bottom: 5px;

                &:hover:after {
                    width: 100%;
                    left: 0;
                }

                &:after {
                    background: none repeat scroll 0 0 transparent;
                    bottom: 0;
                    content: "";
                    display: block;
                    height: 2px;
                    left: 50%;
                    position: absolute;
                    background: #fff;
                    transition: width 0.3s ease 0s, left 0.3s ease 0s;
                    width: 0;
                }
                img{
                    width: 15px;
                    padding-left: 4px;
                }
                .imgUp{
                    padding-right: 5px;
                    transform: rotate(180deg);
                    transition: transform 0.3s ease-in-out;
                }
                .imgDown{
                    transition: transform 0.3s ease-in-out;
                    transform: rotate(360deg);
                }
            }
          
        }

        .allCatUl {
            display: flex;
            flex-wrap: wrap;
            a{
                text-decoration: none;
                color: #ffffff;
            li {
                border: 1px solid #ffffff;
                border-radius: 7px;
                padding: 8px;
                margin: 7px 7px;
                cursor: pointer;
                text-decoration: none;
                list-style: none;
            }
        }
        }
    }

}

@media (max-width: 580px) {
    .menu_wrapper {
        justify-content: space-between;

        .burger_menu {
            z-index: 99999;
            cursor: pointer;
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            position: fixed;
            right: 0;
            margin-right: 10px;

            img {
                width: 30px;
            }
        }

        ul {
            overflow-y: hidden;
            position: fixed;
            top: 0;
            right: -100vh;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            transition: 1s;
            background-color: black;
        }

        .menu_ul_burger {
            position: fixed;
            display: flex;
            flex-wrap: wrap;
            transform: translateX(-100vh);
            z-index: 999;

            a {
                color: #fff;
                text-decoration: none;
                border: 1px solid #ffffff;
                border-radius: 10px;
                margin: 2px 3px;

                li {
                    display: table-cell;
                    position: relative;
                    list-style: none;
                    padding: 10px 20px;

                }
            }
        }

        .changeLang {
            display: block;
            align-items: center;
            z-index: 99;
            margin-right: 60px;
            position: inherit;

            .change_ul {
                display: contents;
                position: relative;
            }
        }
        .categoriesBlock{
            .allCatUl{
                display: block;
                position: inherit;
            }
        }
    }
}