.menu_wrapper {
    display: flex;
    padding: 10px;

    .img_logo {
        padding-left: 30px;

        img {
            width: 80px;
        }
    }

    .burger_menu {
        display: none;
    }

    .menu_ul {
        display: flex;
        align-items: center;
        overflow: scroll;

        a {
            color: #fff;
            text-decoration: none;

            li {
                display: table-cell;
                position: relative;
                list-style: none;
                padding: 10px 20px;

                &:hover:after {
                    width: 100%;
                    left: 0;
                }

                &:after {
                    background: none repeat scroll 0 0 transparent;
                    bottom: 0;
                    content: "";
                    display: block;
                    height: 2px;
                    left: 50%;
                    position: absolute;
                    background: #fff;
                    transition: width 0.3s ease 0s, left 0.3s ease 0s;
                    width: 0;
                }
            }
        }
    }
}

@media (max-width: 560px) {
    .menu_wrapper {
        justify-content: space-between;
    .burger_menu {
        cursor: pointer;
     display: flex;
     flex-direction: row-reverse;
    }
    .menu_ul{
        display: none;
    }
    .menu_ul_burger{
        padding-right: 10px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        a{  color: #fff;
            text-decoration: none;
            border: 1px solid #ffffff;
            border-radius: 10px;
            margin: 2px 3px;
            li{
                display: table-cell;
                position: relative;
                list-style: none;
                padding: 10px 20px;
    
            }
        }
    }
}
}