.cards {
    display: inline-block;
    transition: transform .2s;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 0.19rem;
    cursor: pointer;
    min-width: 200px;
    height: 300px;
    z-index: 0;
    border: 1px solid rgb(99, 99, 99);
}